/* header başlangiç */
.header
{

    height: 5vh;
    font-weight: bold;
}
.navbar-style
{
    background-color:#27425835;
    box-shadow: 0 5px 10px #efefef;
}
.navbar-header
{
  margin-top: 15px;

}
.logo
{
 height: 48px; 
 padding: 5px 10px ;  
}
.logo:hover
{
    color: darkorange;
text-decoration-style: none;
}
.icon-bar
{
    background-color: darkorange;
}
li a:hover
{
    color: darkorange;
}
/* header başlangiç */

/* main başlangiç */
